@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sora tracking-tight;
  }

  /* h1 {
    @apply text-[clamp(48px,6vw,80px)] font-semibold;
  } */
}

@layer utilities {
  .text-h2 {
    @apply text-[clamp(28px,4vw,32px)] font-semibold;
  }

  .text-h3 {
    @apply text-[clamp(18px,2.5vw,20px)] font-semibold;
  }
  .text-h1 {
    @apply text-[clamp(30px,6vw,80px)] font-semibold;
    /* font-size: clamp(48px, 6vw, 80px);
    line-height: 110%;
    font-weight: 600; */
  }
}

@layer components {
  .price-nav_btn {
    @apply shrink-0 h-9 px-5 rounded-full  text-bodySmall transition-colors border;
  }

  .btn {
    @apply font-medium px-4 py-2 rounded-lg 
        inline-flex items-center justify-center tracking-tight;
  }
  .btn-primary {
    @apply bg-brandRed text-white;
  }
  .btn-text {
    @apply text-black bg-transparent;
  }
  .logo-ticker-image {
    @apply h-8 w-auto;
  }
  .tag {
    @apply text-sm inline-flex
        border-[#222]/10 px-3 py-1 rounded-lg tracking-tight;
  }

  .card {
    @apply p-10 border border-[#F1F1F1] rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full;
  }

  .circular-clip {
    clip-path: circle(80% at 50% -50%);
  }

  .polygon-clip-1 {
    clip-path: polygon(0% 0%, 25% 0%, 10% 100%, 0% 100%);
  }
  .polygon-clip-2 {
    clip-path: polygon(25% 0%, 50% 0%, 35% 100%, 10% 100%);
  }
  .polygon-clip-3 {
    clip-path: polygon(50% 0%, 75% 0%, 60% 100%, 35% 100%);
  }
  .polygon-clip-4 {
    clip-path: polygon(75% 0%, 100% 0%, 100% 100%, 60% 100%);
  }
/* 
  .bd-text-lg {
    @apply text-lg text-black;
  }

  .bd-text-default {
    @apply text-base text-black;
  } */

  /* .bd-text- */
}

@keyframes underlineGrow {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
}

.light-gradient {
  background: linear-gradient(135deg, #dedee6, #9e1c05, #0c080a);
}

.dark-gradient {
  background: linear-gradient(135deg, #1e1b4b, #4c1d95, #831843);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-ripple {
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
  pointer-events: none;
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 100%;
  animation: gradient-x 5s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientShift 6s ease infinite;
}

@keyframes floatSlow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes floatSlower {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float-slow {
  animation: floatSlow 10s ease-in-out infinite;
}

.animate-float-slower {
  animation: floatSlower 15s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.6;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}
.animate-pulse {
  animation: pulse 2s infinite;
}

.animate-underline {
  animation: underlineGrow 5s ease-in-out infinite;
}

@keyframes zoomIn {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.animate-hero-bg {
  animation: zoomIn 5s ease-in-out infinite alternate;
}

.help-hero-bg {
  background: url(../assets/help-hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 50%;
}

.help-faq-bg {
  background: url(../assets/images/help_faq_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 50%;
  transform: rotateY(180deg);
}

/* Custom scrollbar for horizontal chips */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
